* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/blue.jpg);
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  width: 96%;
  margin: 20px auto;
}
.content {
  /* box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px; */
  text-shadow: 1px 1px 2px #427388;
}

.game {
  width: 48%;
  float: left;
  background: #fff;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}

h1 {
  font-family: Tahoma, Verdana, sans-serif;
  text-transform: uppercase;
  border-left: 5px solid #1abc9c;
  color: aliceblue;
  margin: 20px 9px;
  padding-left: 15px;
}

h2 {
  margin: 8px;
  font-family: "Allerta Stencil";
}
p {
  font-family: "Allerta Stencil";
}

img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: fill;
  background-position: center;
}

button {
  width: 100px;
  background: #1abc9c;
  border-radius: 7px;
  padding: 6px 6px;
  color: rgb(0, 0, 0);
  font-family: "Allerta Stencil";
  font-weight: bold;
  float: right;
  cursor: pointer;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  margin: 8px;
}
